:8443 {
    log {
        output file /logs/access-v2ray.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
        }
        level INFO
    }
    @v2ray_websocket {
        path /ws
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @v2ray_websocket 127.0.0.1:10000
}
