:8443 {
    log {
        output stdout
        level DEBUG
    }
    
    @v2ray_websocket {
        path /ws
        header Connection *Upgrade*
        header Upgrade websocket
    }
    
    handle @v2ray_websocket {
        reverse_proxy http://host.docker.internal:10000 {
            trusted_proxies private_ranges
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up Connection *Upgrade*
            header_up Upgrade websocket
        }
    }

    handle {
        respond "Not found" 404
    }
}
